# GCP Project Configuration
GOOGLE_CLOUD_PROJECT=ai-agent-bar-2026-stage
GOOGLE_CLOUD_LOCATION=us-central1
BQ_DATA_PROJECT_ID=ai-agent-bar-2026-stage
BQ_DATASET_ID=finops
BQ_TABLE_ID=ai-agent-bar-2026-stage.finops.finops10ktable
ACME_DATASTORE_ID=projects/ai-agent-bar-2026-stage/locations/global/collections/default_collection/dataStores/finops-app_1773328502355

# ADK & Model Configuration
ROOT_AGENT_MODEL=gemini-2.5-flash
GOOGLE_GENAI_USE_VERTEXAI=True
PORT=8080

# Agent Bar System Requirements
GCS_BUCKET_CAMPAING_MANAGER=ai-agent-bar-2026-stage-storage
