GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=[your_project_id]
GOOGLE_CLOUD_LOCATION=us-central1
ROOT_AGENT_MODEL=gemini-2.5-flash

# media/product_ad_generation
GCS_BUCKET=gs://[terraform_output:default_data_bucket_name]
GCS_BUCKET_PRODUCT_AD_GENERATION=gs://[terraform_output:product_ad_generation_bucket_name]
GCS_BUCKET_CAMPAING_MANAGER=[terraform_output:campaign_manager_bucket_name]
GCS_BUCKET_MEETING_INTELLIGENCE=[terraform_output:meeting_intelligence_bucket_name]

# cross/cloud_finops_guru
BQ_DATA_PROJECT_ID=[your_project_id]
BQ_FINOPS_DATASET_ID=[terraform_output:bq_finops_dataset_id]
BQ_TABLE_ID=[terraform_output:bq_finops_table_id]
ACME_DATASTORE_ID=[terraform_output:datastore_finops_id]

# cross/knowledge_graph_builder
BQ_DATASET_ID=[terraform_output:bq_kg_dataset_id]
GRAPH_NAME=test_graph

# retail/intelligent_inventory_manager
GCP_DATASET_ID=[terraform_output:bq_retail_dataset_id]
GCP_PRODUCT_TABLE_ID=[terraform_output:bq_retail_product_table_id]
GCP_STORE_TABLE_ID=[terraform_output:bq_retail_store_table_id]
GCP_INVENTORY_TABLE_ID=[terraform_output:bq_retail_inventory_table_id]

# retail/customer_support_hub
DATASTORE_ID=[terraform_output:datastore_retail_id]

# fsi
GITHUB_ACCESS_TOKEN=your_gh_token
MACROECONOMICS_BUCKET_NAME=[terraform_output:macroeconomics_bucket_name]
FINSIGHTS_BQ_PROJECT_ID=[your_project_id]
FINSIGHTS_BQ_DATASET_ID=[terraform_output:bq_finsights_dataset_id]
CYBER_GUARDIAN_BQ_DATASET=[terraform_output:bq_cyber_guardian_dataset_id]