GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=ai-agent-bar-2026-stage
GOOGLE_CLOUD_LOCATION=us-central1
ROOT_AGENT_MODEL=gemini-2.5-flash

# media/product_ad_generation
GCS_BUCKET=gs://agent-bar-v2-agents-default-data # default bucket
GCS_BUCKET_PRODUCT_AD_GENERATION=gs://agent-bar-v2-cross-product-ad-generation
GCS_BUCKET_CAMPAING_MANAGER=global-campaign-manager-agent-bucket
GCS_BUCKET_MEETING_INTELLIGENCE=ai-agent-bar-meeting-intelligence

# cross/cloud_finops_guru
BQ_DATA_PROJECT_ID=ai-agent-bar-2026-stage
BQ_FINOPS_DATASET_ID=finops
BQ_TABLE_ID=ai-agent-bar-2026-stage.finops.finops10ktable
ACME_DATASTORE_ID=projects/ai-agent-bar-2026-stage/locations/global/collections/default_collection/dataStores/finops-app_1773328502355


# cross/knowledge_graph_builder
BQ_DATASET_ID =replace_with_your_dataset_id
SPANNER_INSTANCE =replace_with_your_spanner_instance
SPANNER_DATABASE =replace_with_your_spanner_database
GRAPH_NAME =replace_with_your_graph_name

# retail/intelligent_inventory_manager
GCP_DATASET_ID =replace_with_your_dataset_id
GCP_PRODUCT_TABLE_ID =replace_with_your_product_table_d
GCP_STORE_TABLE_ID =replace_with_your_table_id
GCP_INVENTORY_TABLE_ID =replace_with_your_inventory_table_id


# retail/customer_support_hub
DATASTORE_ID=retail-site-search_1773188929137


#fsi
GITHUB_ACCESS_TOKEN=
CYBER_GUARDIAN_BQ_DATASET=cyber_guardian_data
MACROECONOMICS_BUCKET_NAME=agent-bar-sample-data
FINSIGHTS_BQ_PROJECT_ID=ai-agent-bar-2026-stage
FINSIGHTS_BQ_DATASET_ID=finsights
